* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

small {
  display: block;
  color: #9e9e9e;
  font-style: italic;
  margin-top: 2em;
  margin-bottom: 0.3em;
  width: 100%;
  text-align: end;
}

input,
span#math {
  padding: 0.7rem 1.3rem;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 100%;
  font-size: 1.3em;
  background-color: white;
}

button {
  margin-top: 2em;
  padding: 0.7rem 1.3rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1.3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  opacity: 0.7;
}

button:active {
  opacity: 1;
}

.calc {
  width: 80vw;
  max-width: 400px;
}

#error {
  color: rgb(156, 26, 26);
  width: 100%;
  text-align: end;
}

#calculating {
  display: none;
  margin-top: 2em;
  width: 3em;
  height: 2.3em;
  border-radius: 10px;
  background-color: rgb(56, 56, 56);
  animation: loading 0.7s ease-in-out infinite forwards;
}

#answer {
  font-size: 3em;
  font-family: sans-serif;
  margin-top: 1em;
  word-break: break-word;
  max-width: 80vw;
}

#answer::before {
  content: "answer = ";
  font-size: 0.7em;
  font-weight: bold;
  word-break: break-word;
  max-width: 80vw;
}

@keyframes loading {
  0% {
    width: 3em;
  }

  50% {
    width: 0.3em;
  }

  100% {
    width: 3em;
  }
}
